@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Consumindo API com HttpClientFactory</p>
    <img src="~/images/HomeImage.jpg"/>
</div>
